@media (max-width: 425px) {
    .card__container {
        width: 300px;
        height: 450px;
    }
}

@media (max-width: 375px) {
    .card__container {
        width: 250px;
        height: 400px;
    }
}