<div class="home__container">
    <app-card
        gameCover="assets/fifa-24.jpg" 
        gameLabel="New"
        gameType="PC | Ps4 | Ps5"
        gamePrice="399,99"></app-card>
    <app-card
        gameCover="assets/fortnite.jpeg"
        gameLabel="Exclusive"
        gameType="PC | Ps4 | Ps5"
        gamePrice="299,99"></app-card>
    <app-card
        gameCover="assets/gta.png"
        gameLabel="Exclusive"
        gameType="PC | Ps3 | Ps4"
        gamePrice="299,99"></app-card>
    <app-card 
        gameCover="assets/bt-1.jpg"
        gameLabel="Cross Buy"
        gameType="Full Game | ps4"
        gamePrice="199,00">
    </app-card>
    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="Exclusive"
        gameType="PC | Ps4 | Ps5"
        gamePrice="799,00">
    </app-card>
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="Cross Buy"
        gameType="Ps3 | Ps4"
        gamePrice="299,00">
    </app-card>
    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="New"
        gameType="Ps3 | Ps4 | Ps5"
        gamePrice="259,99"
        ></app-card>
    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="Exclusive"
        gameType="Ps3 | Ps4 | Ps5"
        gamePrice="279,99"></app-card>
    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="Cross Buy"
        gameType="PC | Ps4 | Ps5"
        gamePrice="199,99"></app-card>
</div>