<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png" alt="" width="140px" height="32px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://www.linkedin.com/in/jefferson-matias-ba218a276/" target="_blank">Linkedin</a></li>
            <li><a href="https://github.com/jeffersonmatias" target="_blank">Github</a></li>
            <li><a href="https://www.instagram.com/_jefferson_07/" target="_blank">Instagram</a></li>
        </ul>
    </div>
</div>