<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png" alt="" width="140px" height="32px">
    </div>
    <div class="menu-bar__item">
        <input (click)="openMenu()" [checked]="checkboxValue" type="checkbox" name="menu-fake" id="menu-fake"
            class="menu-fake">
        <div class="menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul>
            <li><a (click)="closeMenu()" href="#">Novidades</a></li>
            <li><a (click)="closeMenu()" href="#">Coleções</a></li>
            <li><a (click)="closeMenu()" href="#">Ofertas</a></li>
            <li><a (click)="closeMenu()" href="#">Assinaturas</a></li>
            <li><a (click)="closeMenu()" href="#">Navegar</a></li>
        </ul>
    </div>
</div>